[Unit]
Description=Show Twincam Boot Screen
DefaultDependencies=no
Wants=systemd-vconsole-setup.service
After=systemd-vconsole-setup.service systemd-udev-trigger.service systemd-udevd.service
RequiresMountsFor=/sys/bus/media/devices /dev
Before=sysinit.target
ConditionVirtualization=!container
IgnoreOnIsolate=true

[Service]
ExecStart=/usr/bin/twincam -C100
Type=forking
RemainAfterExit=yes
KillMode=mixed
SendSIGKILL=no

