[Unit]
Description=Show Twincam Boot Screen
DefaultDependencies=no
Before=-.slice
ConditionVirtualization=!container
IgnoreOnIsolate=true

[Service]
ExecStart=/usr/bin/twincam -C100 -u -s -v
Type=forking
RemainAfterExit=yes
KillMode=mixed
SendSIGKILL=no

